@font-face {
  font-family: "fira";
  src: url(../assets/FiraCodeNerdFont-Bold.ttf);
}
footer {
  color: #2b4d12;
  font-family: "Chivo Mono";
  margin-right: 14px;
  font-weight: 600;
}

@media screen and (max-width: 768px) {
  footer {
  }
}
