@font-face {
  font-family: "up";
  src: url(./assets/upheavtt.otf);
}
@font-face {
  font-family: "fira";
  src: url(../assets/FiraCodeNerdFont-Bold.ttf);
}
:root {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  background-color: black;
}

body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: radial-gradient(
    circle,
    rgba(0, 0, 0, 0) 80%,
    rgba(0, 0, 0, 0.5) 100%
  );
  pointer-events: none;
  z-index: 1;
}

.hero {
  padding: 20px;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.roles {
  margin-top: 20px;
}

.roles p {
  font-family: "fira";
  font-size: 1.5vw;
  font-weight: 600;
  color: #2b4d12;
  margin-bottom: 10px;
}

.bg {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 100%;
  object-fit: cover;
  z-index: -1;
}

.title {
  font-family: "up";
  font-size: 5.5vw;
  color: #2b4d12;
}

/* styles.css */
@keyframes flicker {
  0% {
    opacity: 1;
  }
  10% {
    opacity: 0.8;
  }
  20% {
    opacity: 1;
  }
  30% {
    opacity: 0.8;
  }
  40% {
    opacity: 1;
  }
  50% {
    opacity: 0.85;
  }
  60% {
    opacity: 1;
  }
  70% {
    opacity: 0.9;
  }
  80% {
    opacity: 1;
  }
  90% {
    opacity: 0.92;
  }
  100% {
    opacity: 1;
  }
}

.flicker {
  animation: flicker 0.2s infinite;
}
